@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form method="post" enctype="multipart/form-data">
        <p>Want to know which products are discontinued? </p>
        <input type="hidden" asp-for="DisCoutProducts" value="Submit">
        <input type="submit" value="Submit">
    </form>
    <br/><br/>
    <p>@DisContProducts.disContProducts(@Model.DisCoutProducts)</p>
</div>

<div class="text-center">
    <form method="post" enctype="multipart/form-data">
        <p>Enter a country to know the customers in the country:</p>
        <input type="text" asp-for="ListCustomersInCountry">
        <input type="submit" value="Submit">
    </form>
    <br><br>
    <p>@CustomersInCountry.customersInCountry(@Model.ListCustomersInCountry)</p>
</div>

<div class="text-center">
    <form method="post" enctype="multipart/form-data">
        <p>Enter a country to know the suppliers in the country:</p>
        <input type="text" asp-for="ListSupplieresInCountry">
        <input type="submit" value="Submit">
    </form>
    <br><br>
    <p>@SuppliersInCountry.suppliersInCountry(@Model.ListSupplieresInCountry)</p>
</div>

<div class="text-center">
    <form method="post" enctype="multipart/form-data">
        <p>Enter a Supplier to know the discontinued:</p>
        <input type="text" asp-for="DisContProductsBySuppler">
        <input type="submit" value="Submit">
    </form>
    <br><br>
    <p>@ProductsThatAreDisContBySupplier.disContProductsBySupplier(@Model.DisContProductsBySuppler)</p>
</div>